form {
  background-image: url("../../assets//assetsContact/contact.gif");
  background-color: #bbbbbb58;
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-size: 10%;
  background-position: 10% 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50vh auto;
  padding: 100px 0;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  width: 40%;
  height: 70%;
  padding: 20px;
  border-radius: 15px;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 14px 14px 3px 5px #373737;
}

.formSelect {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

form label {
  color: #37373773;
  width: 20%;
  text-align: start;
  font-family: "Suwannaphum", serif;
  font-weight: 400;
  font-style: normal;
}
#choice,
form input,
textarea {
  background-color: #fafafa;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.901);
}
form textarea {
  width: 250px;
  height: 150px;
  max-width: 330px;
  max-height: 150px;
}

#choice {
  color: #0000003d;
}

.customOption {
  border: none;
}

.sub {
  /* Styles par défaut du bouton */
  padding: 20px 30px;
  margin: 0;
  width: 30%;
  color: #000000b5;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sub:hover {
  width: 40%;
  background-color: #fafafa;
  color: #000000b5;
}

.sub.clicked {
  /* Styles appliqués lorsque le bouton est cliqué */
  background-color: #3275539e;
  color: #fafafa;
}

.formPosition {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 90%;
  gap: 5%;
  align-items: center;
  justify-content: flex-end;
}

form p {
  color: #252525;
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-size: 38px;
  font-style: normal;
}

.iconForm {
  width: 20px;
}

input[type="text"]:not(:placeholder-shown),
input[type="email"]:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
  background-color: #252525; /* Couleur de fond lorsque le champ est rempli */
}

input::placeholder,
textarea::placeholder {
  color: #ccc; /* Couleur des placeholders */
}
