form {
  background-image: url(/ACtech/src/assets/assetsContact/contact.gif);
  background-repeat: no-repeat;
  background-size: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50vh auto;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  width: 50%;
  padding: 20px;
  border-radius: 15px;
  align-items: center;
  box-shadow: 3px 4px 3px 5px #95a9ff38;
  justify-content: center;
}

.formSelect, .FormChoice {
  display: flex;
  width: 100%;
  gap: 10%;
  flex-direction: row;
  align-items: center;
}

form label {
  width: 8%;
  font-weight: 400;
  font-style: normal;
}


#choice,
form input,
textarea {
  background-color: #fafafa;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #a1a6ff;
  width: 100%;
}

.choice {
  width: 40% !important;
}

form textarea {
  height: 150px;
  max-width: 100%;
  max-height: 150px;
}

#choice {
  color: #0a0a0a;
}

.customOption {
  border: none;
}

.sub {
  /* Styles par défaut du bouton */
  padding: 20px 30px;
  margin: 0;
  width: 30%;
  color: #000000b5;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #a1a6ff;
}

.sub:hover {
  width: 40%;
  background-color: #fafafa;
  color: #000000b5;
}

.sub.clicked {
  /* Styles appliqués lorsque le bouton est cliqué */
  background-color: #f9fff3;
}

.formPosition {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

form p {
  color: #0a0a0a;
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: small;
  font-style: normal;
}

.send {
  font-size: xx-large;
  font-family: "Suwannaphum", serif;
  font-weight: 700;
  font-style: normal;
}

.iconForm {
  width: 20px;
}

input[type="text"]:not(:placeholder-shown),
input[type="email"]:not(:placeholder-shown),
textarea:not(:placeholder-shown) {
  background-color: #ecf2ff; /* Couleur de fond lorsque le champ est rempli */
  color: #0a0a0a;
}

input::placeholder,
textarea::placeholder,
.choice:placeholder {
  color: #999989; /* Couleur des placeholders */
}
