.Page {
  display: flex;
  height: 120vh;
}

@media screen and (max-width: 960px) {
  .Page {
        flex-direction: column;
  }
  .left , .right {width: 90% !important;     margin: 50px auto;}
}

.left {
  width: 70%;
  height: 100vh;
  margin-top: 5vh;
  padding: 10px;
  background: url("/ACtech/src/assets/profilHome.png") no-repeat;
  background-size: 70%;
  background-position: top;
}

.left > img {
  width: 100%;
}

.leftText {
  width: 50%;
  height: 200px;
  margin-left: 110px;
}

.leftText button {
  border: none;
  border-radius: 10px;
  width: 40%;
  padding: 10px;
  margin: 20px;
  background-color: #000000b5;
  transition: all 0.3S ease-in-out;
}

.leftText button:hover {
 width: 50%;
 background-color: #fafafa;
}

.leftText button a {
text-decoration: none;
color: #fafafa;
font-family: "Suwannaphum", serif;
font-optical-sizing: auto;
font-weight: 600;
font-size: 1rem;
font-style: normal;
}
.leftText button a:hover {
  color: #000000b5;
}


.left p {
  margin-top: 10px;
  width: 100%;
  font-family: "Suwannaphum", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 1rem;
  font-style: normal;
  color: #000000b5;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: #fafafa;
}

.rightText {
  width: 80%;
}

.right h1 {
  font-family: "Suwannaphum", serif;
  font-weight: 500;
  font-style: normal;
  font-size: large;
  font-optical-sizing: auto;
  color: rgb(41, 41, 41);
}

.right p {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 1rem;
  font-style: normal;
  color: rgb(41, 41, 41);
}

.rightLink {
  display: flex;
  gap: 10%;
  flex-direction: row;
  flex-wrap: wrap;
}

.rightText a {
  width: 30%;
  padding: 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #000000b5;
  transition: all 0.3s ease-out;
  text-decoration: none;
  font-family: "Suwannaphum", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 0.9rem;
  font-style: normal;
  color: #fafafa;
  text-align: center;
}

.rightText a:hover {
  color: #2a2a2a;
  background-color: #fafafa;
}

.rightSocial {
  width: 80%;
  display: flex;
  padding-left: 5%;
  gap: 5%;
}

.github {
  width: 20px;
}

.linkedin {
  width: 20px;
}

.sectionMain {
  background: none !important;
}