.page-container {
  display: flex;
  height: 120vh;
}

@media screen and (max-width: 960px) {
  .page-container {
    flex-direction: column;
  }
  .left-panel, .right-panel {
    width: 90% !important;
    margin: 50px auto;
  }
}

.left-panel {
  width: 70%;
  height: 100vh;
  margin-top: 5vh;
  padding: 10px;
  background: url("../../assets/profilHome.png") no-repeat;
  background-size: 70%;
  background-position: top;
}

.left-panel > img {
  width: 100%;
}

.section-text {
  width: 50%;
  height: 200px;
  margin-left: 110px;
}

.section-text button {
  border: none;
  border-radius: 10px;
  width: 40%;
  padding: 10px;
  margin: 20px;
  background-color: #000000b5;
  transition: all 0.3s ease-in-out;
}

.section-text button:hover {
  width: 50%;
  background-color: #fafafa;
}

.section-text button a {
  text-decoration: none;
  color: #ffe6cf;
  font-family: "Suwannaphum", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 1rem;
  font-style: normal;
}

.section-text button a:hover {
  color: #000000b5;
}

.left-panel p {
  margin-top: 10px;
  width: 100%;
  font-family: "Suwannaphum", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 1rem;
  font-style: normal;
  color: #000000b5;
}

.right-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: #fafafa;
}

.right-content {
  width: 80%;
}

.right-content h1 {
  font-family: "Suwannaphum", serif;
  font-weight: 500;
  font-style: normal;
  font-size: xx-large;
  font-optical-sizing: auto;
  color: rgb(41, 41, 41);
}

.right-content p {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: large;
  font-style: normal;
  color: rgb(41, 41, 41);
}

.nav-links {
  display: flex;
  gap: 10%;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-links a {
  width: 30%;
  height: 30%;
  padding: 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #000000b5;
  transition: all 0.3s ease-out;
  text-decoration: none;
  font-family: "Suwannaphum", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: medium;
  font-style: normal;
  color: #ffe6cf;
  text-align: center;
}

.nav-links a:hover {
  color: #2a2a2a;
  background-color: #fafafa;
}

.social-links {
  width: 80%;
  display: flex;
  padding-left: 5%;
  gap: 5%;
}

.social-links img {
  width: 20px;
}

.section-main {
  background: none !important;
}
