.footer {
      margin-top: 20vh;
      padding: 30px;
      height: 40vh;
      background-color: #000000b5;
}

footer li {
      color: aliceblue;
      width: 20%;
}

h4 {
      font-family: "Suwannaphum", serif;
      font-weight: 600;
      font-style: normal;
      font-size: large;
}