.sectionExperience {
      width: 100%;
      overflow: hidden;
    }
    
    section span {
      display: block;
      transform: translateX(-100px);
      opacity: 0;
    }
    
    .recommendationImg {
      width: 100%;
      margin-top: 10vh;
    }
    
    .accomodationP {
      text-align: center;
      font-size: 2.5em;
      color: rgb(113, 111, 111);
      font-family: "Suwannaphum", serif;
      font-weight: 700;
      font-style: normal;
      margin-bottom: 20px;
    }
    
    .recommendationImgDiv {
      padding: 30px;
      width: 100%;
      display: flex;
      gap: 3%;
      margin: 10px;
      border-radius: 5px;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    .recommendationCard {
      width: 55%;
      background-color: #fff;
      border: 1px solid rgb(198, 198, 198);
      border-radius: 5px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10vh;
    }
    
    .recommendationCardHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }
    
    .headerRecommendation {
      display: flex;
      align-items: center;
    }
    
    .headerRecommendation > p {
      padding: 2px;
      border: none;
      width: 35%;
      text-align: center;
      margin: 0;
    }
    
    .headerRecommendation h3 {
      margin: 0;
      margin-left: 10px;
      font-family: "Suwannaphum", serif;
      font-weight: 500;
      font-size: 1em;
    }
    
    h4 {
      color: #040404;
      font-family: "Suwannaphum", serif;
      font-weight: 700;
      margin-bottom: 10px;
    }
    
    .recommendationImg p {
      font-family: "Reddit Mono", monospace;
      font-weight: 300;
      font-size: 14px;
      margin: 0;
      padding: 20px;
      border: 1px solid rgb(198, 198, 198);
      color: #ffe6cf;
      border-radius: 5px;
      background-color: #4a4a4a;
    }
    
    .stars {
      width: 70px;
      height: 30px;
    }
    
    /* Responsive adjustments */
    @media screen and (max-width: 767px) {
      .accomodationP {
        font-size: 2em;
      }
    
      .recommendationImgDiv {
        flex-direction: column;
        align-items: center;
        width: 80%;
      }
    
      .recommendationCard {
        width: 90%;
        margin-bottom: 20px;
      }
    
      .headerRecommendation > p {
        width: auto;
        padding: 5px 10px;
      }
    }
    