

.sectionExperience {
  width: 100%;
overflow: hidden;
}
section span {
  display: block;
  transform: translateX(-100px);
  opacity: 0;
}

.experienceSection {
  width: 100%;
  
}

.experienceMain {
  margin-top: 20vh;
  height: 50vh;
  background-image: url(/ACtech/src/assets/xpAc.gif);
  background-repeat: no-repeat;
  background-size: 60%;
}



.experienceMainDescription {
  width: 100%;
  margin-top: 10vh;
}
.experienceMainDescription p {
  margin: 0;
  margin-right: 20px;
  padding: 30px;
  padding-right: 10px;
  border-radius: 5px;
  font-size: large;
  background-color:#4a4a4a;
  border: solid 1px #adadad;
  color: #ffe6cf;
}



ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
  align-items: center;
}

li {
  display: flex;
  font-family: "Reddit Mono", monospace;
  font-size: small;
  font-weight: 300;
  color: black;
  flex-direction: column;
  width: 35%;
}


b {
  font-size: medium;
}