

.sectionExperience {
  width: 100%;
overflow: hidden;
}
section span {
  display: block;
  transform: translateX(-100px);
  opacity: 0;
}

.experienceSection {
  width: 100%;
  
}

.experienceMain {

    height: 50vh;
    margin: 20vh 0 0 0;
    background-image: url("../../assets/xpAc.gif");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
}



.experienceMainDescription {
  width: 100%;
}
.experienceMainDescription p {
  margin: 0;
    margin-right: 20px;
    padding: 30px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: rgba(116, 116, 116, 0.227);
    border: solid 1px rgb(173, 173, 173);
}



ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: center;
  align-items: center;
}

li {
  display: flex;
  font-family: "Reddit Mono", monospace;
  font-size: small;
  font-weight: 300;
  color: black;
  flex-direction: column;
  width: 35%;
}
